// 如果其他頁面有用到swiper這裡要再做些微調整
.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: $secondary-5;
  width: 8px;
  height: 5px;
  margin: 0 4px;
  opacity: 100%;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  width: 20px;
  height: 5px;
  background: $primary;
  border-radius: 20px;
}

@media (min-width: 992px) {
  .swiper-pagination-bullet {
    width: 20px;
    height: 7px;
  }
  .swiper-pagination-bullet-active {
    width: 40px;
    height: 7px;
  }
  .hero-swiper {
    .swiper-pagination {
      display: flex;
      justify-content: flex-end;
      padding-right: 40px;
      padding-bottom: 24px;
    }
  }
}

//單一產品頁輪播
/* 主輪播大圖 - 正方形 */
.mainSwiper {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* 保持正方形 */
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
  object-fit: cover;
}

.mainSwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 底下縮圖 */
.thumbSwiper .swiper-slide {
  width: 25%;
  /* 每個佔大圖 1/4 */
  aspect-ratio: 1 / 1;
  /* 正方形 */
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  transition: border 0.3s, opacity 0.3s;
}
.thumbSwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* 選中 active 狀態 */
.thumbSwiper .swiper-slide-thumb-active {
  border: 6px solid #fff1d1;
  /* 外框 */
  box-sizing: border-box;
  /* 包含邊框在內不影響 slide 寬度 */
}

/* active 圖片內縮同時保留圓角 */
.thumbSwiper .swiper-slide-thumb-active img {
  border-radius: 8px;
  /* 圓角與外框一致 */
}

@media (min-width: 992px) {
  .mainSwiper {
    /* 保持正方形 */
    border-radius: 20px;
    margin-bottom: 24px;
  }

  /* 底下縮圖 */
  .thumbSwiper .swiper-slide {
    width: 25%;
    /* 每個佔大圖 1/4 */
    border-radius: 16px;
  }
  .thumbSwiper .swiper-slide img {
    border-radius: 9px;
  }

  /* 選中 active 狀態 */
  .thumbSwiper .swiper-slide-thumb-active {
    border: 3px solid #fff1d1;
    /* 外框 */
  }

  /* active 圖片內縮同時保留圓角 */
  .thumbSwiper .swiper-slide-thumb-active img {
    border-radius: 9px;
    /* 圓角與外框一致 */
  }
}
