.header-logo {
  object-fit: cover;
  width: 120px;
  height: 56px;
  @media (min-width: 992px) {
    width: 160px;
    height: 80px;
  }
}

.header-list a {
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: $primary !important;
  }
}

.header-mobile-list {
  li {
    &:hover {
      background-color: $primary-10;
      border-radius: 8px;
      a {
        color: $black !important;
      }
    }
  }
  a {
    text-decoration: none;
  }
}

.mobile-logo-white {
  width: 216px;
  height: 104px;
  object-fit: cover;
}

.header-main.scrolled {
  background-color: white;
}

.header-main.scrolled .header-list a:not(.dropdown-item),
.header-main.scrolled .header-nav-icon {
  color: #000;
}

.header-main {
  .header-dropdown-menu {
    border-radius: 10px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    span {
      color: $black !important;
    }
    .dropdown-item:hover {
      background-color: $primary-10;
      border-radius: 8px;
    }
  }
  .dropdown-menu {
    --bs-dropdown-min-width: 140px;
    min-width: 140px;
  }
}
