.stepbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: map-get($spacers, 4);
  list-style: none;
  padding: 0;
  margin: 0;
}
.stepbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: map-get($spacers, 4);
}
.stepbar__badge {
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  background-color: $neutral-20;
  color: $white;
}
.is-active .stepbar__badge {
  background-color: $primary;
}
.stepbar__label {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.stepbar__divider {
  flex: 1;
  height: 2px;
  background-color: $neutral-20;
}

.is-active + .stepbar__divider {
  background-color: $primary;
} // 已完成區段高亮

@media (min-width: 768px) {
  .stepbar__item {
    flex-direction: row;
  }
  .stepbar__badge {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: 700;
    font-size: 16px;
  }
  .stepbar__label {
    font-size: 16px;
    line-height: 1.2;
  }
  .stepbar__list {
    gap: map-get($spacers, 8);
  }
}
// shopping-cart
.shopping-cart-all {
  box-shadow: 0px 3px 0px 3px rgba(0, 0, 0, 0.1);
}
.shopping-card {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.shopping-cart-all input[type="checkbox"] {
  width: 24px;
  height: 24px;
}
.shopping-card-img-wrapper {
  max-width: 100px;
  max-width: 100px;
}
.shopping-card-img {
  width: 100%;
  object-fit: cover;
}

.shopping-card-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .delete {
    font-size: 24px;
    cursor: pointer;
  }
}
.shopping-card-counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  border: 1px solid #ddd; /* 邊框 */
  border-radius: 8px; /* 圓角 */
  background-color: #fff; /* 白底 */
  .remove {
    cursor: pointer;
  }
  .add {
    cursor: pointer;
  }
}
// offcanvas
.booking-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
.booking-btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .booking-a-wrapper {
    width: 50%;
    margin-bottom: 8px;

    .booking-a {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .booking-btn-wrapper {
    width: 50%;

    .booking-btn {
      height: 100%;
      width: 100%;
    }
  }
}

.booking-btn-flex-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .booking-a-wrapper-two {
    width: 50%;
    margin-bottom: 8px;

    .booking-a-two {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .booking-btn-wrapper-two {
    width: 50%;

    .booking-btn-two {
      height: 100%;
      width: 100%;
    }
  }
}

// 從底部滑上的 Offcanvas
#offcanvasExample {
  --bs-offcanvas-height: 60vh;
}
#offcanvasExample .offcanvas-body {
  overflow-y: auto;
  scrollbar-width: none; // Firefox 隱藏捲軸
}
#offcanvasExample .offcanvas-body::-webkit-scrollbar {
  display: none; // Chrome/Safari/Edge 隱藏捲軸
}
