.stepbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: map-get($spacers, 4);
  list-style: none;
  padding: 0;
  margin: 0;
}
.stepbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: map-get($spacers, 4);
}
.stepbar__badge {
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 400;
  background-color: $neutral-20;
  color: $white;
}
.is-active .stepbar__badge {
  background-color: $primary;
}
.stepbar__label {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.stepbar__divider {
  flex: 1;
  height: 2px;
  background-color: $neutral-20;
}

.is-active + .stepbar__divider {
  background-color: $primary;
} // 已完成區段高亮

@media (min-width: 768px) {
  .stepbar__item {
    flex-direction: row;
  }
  .stepbar__badge {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-weight: 700;
    font-size: 16px;
  }
  .stepbar__label {
    font-size: 16px;
    line-height: 1.2;
  }
  .stepbar__list {
    gap: map-get($spacers, 8);
  }
}
// test
#content {
  max-height: 0; /* 一開始收起來 */
  overflow: hidden; /* 隱藏多餘的內容 */
  border: 1px solid #ccc;
  padding: 0 10px; /* padding 左右固定，避免收起來內容消失 */
  margin-top: 10px;
  transition: all 0.4s ease; /* 加上過度動畫 */
}

#content.show {
  max-height: 300px; /* 展開時的最大高度，要比內容高一些 */
  padding: 10px; /* 展開時回來完整 padding */
}
